@charset "utf-8";
@import url("font.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline-style: none; */
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: middle;
  border: 0;
}

a {
  color: #7d7d7d;
  text-decoration: none;
}

a:hover {
  color: #333;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  font-size: 14px;
  font-weight: 400;
  font-family: "Noto Sans KR", "돋움", dotum, sans-serif;
  line-height: 1;
  color: #000;
  word-break: keep-all;
}

/* 공통클래스 */
.clearfix::after {
  content: "";
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
}

/* layout */
.wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

/* header */
#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  transform: translateY(0);
  transition: all 1s;
}

.header .inner {
  width: 96%;
  margin: 30px auto 0;
  border: 1px solid #fff;
}

.header .inner.active {
  background-color: #fff;
}

.header .main {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
}

.header h1 {
  position: relative;
  display: block;
  width: 236px;
  height: 78px;
}

.header .logo {
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translate(-50%, -50%);
  display: block;
  width: 148px;
  height: 19px;
  background: url("../images/logo1.png") no-repeat center;
  background-size: 148px 19px;
  text-indent: -9999px;
}

.header .logo.active {
  background: url("../images/logo3.png") no-repeat center;
  background-size: 148px 19px;
}

.gnb {
  width: calc(100% - 259px - 236px);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  transition: all 3s;
}

.main-menu {
  display: flex;
  align-items: center;
}

.main-menu > li {
  margin: 0 30px;
}

.main-menu > li > a {
  font-size: 17px;
  color: #fff;
}

.gnb.active {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.gnb.active .main-menu > li > a {
  color: #222;
}

.drop-menu {
  position: absolute;
  display: none;
  left: -1px;
  top: 100%;
  z-index: 1000;
  text-align: center;
  background: #fff;
  border-top: 1px solid #697995;
  width: calc(100% + 2px);
  padding: 45px 239px 45px 239px;
  box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
}

.drop-menu .depth1 {
  display: flex;
  width: 100%;
  height: 100%;
}

.depth1 > li {
  width: calc(100% / 6);
  height: 100%;
  border-right: 1px solid #ddd;
}

.depth1 > li:first-child {
  border-left: 1px solid #ddd;
}

.depth1 > li > a {
  font-size: 19px;
  color: #222;
  font-weight: 500;
}

.depth2 {
  position: relative;
  margin-top: 20px;
}

.depth2 > li {
  position: relative;
  display: block;
  margin-bottom: 5px;
}

.depth2 > li > a {
  display: block;
  font-size: 17px;
  padding: 3px;
  color: #555;
}

.quick-bt {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 259px;
  height: 100%;
}

.quick-bt ul {
  width: calc(100% - 78px);
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.quick-bt ul li {
  display: flex;
  align-items: center;
}

.quick-bt ul li:first-child {
  position: relative;
  padding-right: 12px;
  margin-right: 10px;
}

.quick-bt ul li:first-child::after {
  display: block;
  content: "";
  width: 1px;
  height: 10px;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.quick-bt ul li a {
  position: relative;
  font-family: "Montserrat";
  font-size: 12px;
  color: rgba(255, 255, 255, 0.9);
}

.quick-bt.active ul li a {
  color: #222;
}

.site-map {
  display: block;
  border-left: 1px solid #fff;
}

.site-bt {
  position: relative;
  display: block;
  width: 78px;
  height: 78px;
  padding: 27px 25px;
}

.site-bt > span {
  display: block;
  width: 100%;
  height: 3px;
  margin-bottom: 7px;
  background-color: rgba(255, 255, 255, 0.9);
}

.site-map.active {
  border-left: 1px solid #000;
}

.site-map.active span {
  background-color: #222;
}

/* visual */
.visual {
  position: relative;
  display: block;
  height: 100vh;
  overflow: hidden;
}

.visual-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 136%;
  background: url("../images/visual1.jpg") no-repeat center;
  background-size: cover;
  z-index: 1;
}

.visual-text-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 90%;
  height: auto;
  line-height: 1.3;
  text-align: center;
  z-index: 10;
}

.visual-text-wrap::before {
  display: block;
  content: "";
  width: 1px;
  height: 60px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 auto 30px;
}

.visual-text-wrap::after {
  display: block;
  content: "";
  width: 1px;
  height: 60px;
  background: rgba(255, 255, 255, 0.5);
  margin: 40px auto 0;
}

.visual-text-wrap .v-sec-main-title {
  font-family: "Cormorant Garamond";
  font-size: 88px;
  color: #fff;
}

.visual-text-wrap .v-sec-dec {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  margin-top: 10px;
}

/* sustainable */
.sustain {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding: 200px 7.5% 150px;
}

.sustain-bg {
  position: absolute;
  right: 0;
  top: 50px;
  display: block;
  width: 682px;
  height: 367px;
  background: url("../images/section1_bg1.png") no-repeat;
  background-size: cover;
  transform: translateY(-100%);
  transition: all 0.5s;
}

.sustain-bg.active {
  transform: translateY(0);
}

.sustain .sec-main-title {
  font-family: "Cormorant Garamond";
  font-size: 102px;
  color: #6f917b;
}

.sustain .sus-sec-dec {
  padding: 0 0 0 70px;
  font-size: 17px;
  color: #666;
  line-height: 180%;
}

.sustain .sus-sec-dec span {
  display: block;
  padding: 50px 0 25px;
  font-family: "Montserrat";
  font-size: 21px;
  color: #222;
  font-weight: 500;
}

/* product */
.product .sec-sub-title {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  color: #000;
  text-align: center;
}

.product-wrap {
  width: 100%;
  display: block;
  margin-top: 50px;
}

.product-top {
  display: flex;
}

.product-top > div {
  position: relative;
  width: 50%;
  height: 910px;
}

.pt-img-01 {
  overflow: hidden;
}

.pt-img-01-bg {
  background: url("../images/prd_img1.jpg") no-repeat;
}

.pt-img-wrap {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 580px;
}

.pt-img-wrap > div {
  width: calc((100% / 2) - 10%);
  position: relative;
  overflow: hidden;
}

.pt-img-02 {
  background-color: red;
}

.pt-img-02-bg {
  background: url("../images/prd_img2.jpg") no-repeat center;
}

.pt-img-03 {
  width: calc(100% / 2);
  background-color: blue;
}

.pt-img-03-bg {
  background: url("../images/prd_img3.jpg") no-repeat center;
}

.product-bottom {
  display: flex;
  justify-content: space-evenly;
  margin: 55px 0 250px;
}

.product-bottom > div {
  position: relative;
  width: calc((100% / 3) - 4%);
  height: 552px;
  overflow: hidden;
}

.pt-img-04-bg {
  background: url("../images/prd_img4.jpg") no-repeat center;
}

.pt-img-05-bg {
  background: url("../images/prd_img5.jpg") no-repeat center;
}

.pt-img-06-bg {
  background: url("../images/prd_img6.jpg") no-repeat center;
}

.prt-bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: all 1s;
}

.product-txt-area {
  position: absolute;
  left: 40px;
  top: 40px;
}

.product-txt-area > span {
  display: block;
  color: #fff;
  font-family: "Montserrat";
  font-size: 18px;
}

.product-cate-en {
  font-weight: 500;
}

.product-txt-area .product-cate-kr {
  font-family: "Noto Sans KR", "돋움", dotum, sans-serif;
  font-size: 25px;
  font-weight: normal;
}

.product-more {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: scale(1) translate(-50%, -50%);
  width: 94px;
  height: 94px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  font-family: "Montserrat";
  font-size: 11px;
  color: #fff;
  text-align: center;
  transform-origin: center center;
  opacity: 0;
  transition: all 0.4s;
}

.product-more::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  transform-origin: center;
  transform: translate(-50%, -50%);
  animation: circleani 0.4s infinite alternate;
}

@keyframes circleani {
  0% {
    width: 94px;
    height: 94px;
    opacity: 0;
  }

  100% {
    width: 114px;
    height: 114px;
    opacity: 1;
  }
}

.prt::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 10px solid #6f917b;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transform: scale(1.1);
  transition: all 0.8s;
}

.prt:hover::after {
  transform: scale(1);
  opacity: 1;
}

.prt:hover .prt-bg {
  transform: scale(1.2);
}

.prt:hover .product-more {
  opacity: 1;
}

.prt:hover .product-more::before {
  opacity: 1;
}

.product-more > span {
  display: block;
}

.more-txt {
  font-family: "Montserrat";
  font-size: 11px;
  color: #fff;
  text-align: center;
  margin-bottom: 9px;
}

.more-icon {
  width: 18px;
  height: 5px;
  background: url("../images/btn_more_arr.png") no-repeat center;
}

.pt-text-area {
  position: relative;
  width: 100%;
  height: calc(100% - 580px);
}

.pta-pos {
  position: absolute;
  left: 7%;
  top: 50%;
  transform: translateY(-50%);
}

.pta-title {
  font-family: "Cormorant Garamond";
  font-size: 42px;
  color: #222;
}

.pta-dec {
  margin-top: 15px;
  font-size: 17px;
  color: #666;
  line-height: 180%;
}

/* innovative */
.innovative {
  position: relative;
  display: block;
  padding-bottom: 250px;
}

.innovative .bg-pic {
  display: block;
  position: absolute;
  right: 0;
  top: 32%;
  width: 100%;
  height: 910px;
  background: url("../images/sec2_bg.jpg") no-repeat right;
  transition: all 1s;
  z-index: 0;
}

.innovative .bg-pic.active {
  width: 57%;
}

.inno-text-wrap {
  padding: 130px 7.5% 230px;
  background: #879a82;
}

.sec-sub-title {
  position: relative;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  z-index: 9;
}

.sec-main-title {
  position: relative;
  font-family: "Cormorant Garamond";
  font-size: 230px;
  color: #fff;
  line-height: 85%;
  z-index: 9;
}

.sec-dec {
  margin-top: 120px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  line-height: 180%;
}

.sec-dec > span {
  display: block;
  margin: 0 0 25px;
  font-size: 19px;
  color: #fff;
}

/* merit */
.merit {
  display: block;
  width: 100vw;
  padding: 180px 0;
}

.merit .sec-sub-title {
  color: #000;
}

.merit > div {
  position: relative;
  margin-top: 70px;
}

.merit > div > ul {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.merit > div::before {
  display: block;
  content: "";
  width: 0%;
  height: 1px;
  background: #7f7f7a;
  position: absolute;
  left: 0;
  top: 0;
  transition: width 0.3s;
}

.merit > div.active::before {
  width: 100%;
}

.merit > div > ul > li {
  position: relative;
  margin: 0 3.5%;
  text-align: center;
  padding-top: 15px;
}

.merit > div > ul > li::before {
  display: block;
  content: "";
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  background: #333;
  border: 6px solid #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: -9px;
  margin-left: -9px;
}

.merit > div > ul > li > div > span {
  display: block;
}

.merit-icon {
  width: 146px;
  height: 146px;
  margin: 80px auto 55px;
}

.merit-title {
  margin-bottom: 20px;
  font-size: 23px;
  color: #222;
  font-weight: 500;
}

.merit-dec {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
  line-height: 180%;
}

/* news */
.news {
  overflow: hidden;
  width: 100%;
  padding: 140px 0 160px;
  background: url("../images/sec4_bg.jpg") no-repeat center top;
  background-attachment: fixed;
  text-align: center;
}

.news .sec-main-title {
  margin: 45px 0 70px;
  font-size: 102px;
  line-height: 100%;
}

.sw-news {
  margin: 0 0 0 7%;
}

.sw-news .swiper-slide {
  width: 520px;
}

.sw-news .swiper-slide > a {
  position: relative;
  display: block;
  width: 100%;
  height: 380px;
  padding: 50px 40px;
  background: #fff;
  text-align: left;
  word-break: keep-all;
}

.news-cate {
  font-family: "Montserrat";
  font-size: 16px;
  color: #222;
  font-weight: 500;
}

.news-title {
  margin: 20px 0;
  font-size: 24px;
  color: #222;
  font-weight: 500;
}

.news-dec {
  font-size: 17px;
  color: #666;
  font-weight: 300;
  line-height: 180%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
}

.news-bottom {
  position: absolute;
  left: 40px;
  bottom: 50px;
  width: calc(100% - 80px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-bt {
  position: relative;
  width: 56px;
  height: 56px;
  border: 1px solid #777;
  border-radius: 50%;
  background-color: #fff;
}

.news-bt > span {
  width: 6px;
  height: 6px;
  border-right: 1px solid #777;
  border-bottom: 1px solid #777;
  transform: rotate(-45deg);
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -3px 0 0 -4px;
}

.news-date {
  font-size: 16px;
  color: #666;
  font-weight: 300;
}

.sw-news-control {
  display: flex;
  align-items: center;
  margin-top: 45px;
  text-align: left;
}

.sw-news-control > button {
  display: block;
  width: 30px;
  height: 19px;
  margin-right: 20px;
  border: 0;
  background-color: transparent;
}

.news-prev {
  background: url("../images/news_prev.png") no-repeat;
}

.news-next {
  background: url("../images/news_prev.png") no-repeat;
  transform: rotate(180deg);
}

.sw-news .swiper-pagination {
  position: static;
  display: inline-block;
  width: auto;
  margin-right: 20px;
  font-family: "Montserrat";
  font-size: 15px;
  color: #fff;
  font-weight: 500;
}

.sw-news .news-play-bt {
  color: #fff;
  cursor: pointer;
}

/* ws-active */
.ws-active {
  display: flex;
}

.ws-active > div {
  width: 50%;
  padding: 7%;
}

.video-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 720px;
  background: url("../images/sec5_bg1.jpg") no-repeat center;
  background-size: 110%;
  text-align: center;
  transition: all 0.5s;
}

.video-content.active {
  background-size: 100%;
}

.ws-video .sec-sub-title {
  margin-top: 35px;
  margin-bottom: 30px;
}

.ws-active .sec-dec {
  padding: 0 35px;
  padding-bottom: 35px;
  font-size: 17px;
  color: #fff;
  font-weight: 300;
  line-height: 180%;
  margin-top: 0;
}

.ws-icon {
  display: block;
  margin-bottom: 60px;
}

.video-bt {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 275px;
  height: 64px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 32px;
  transform-origin: center;
  transition: all 0.4s;
  background-color: transparent;
}

.video-bt span {
  font-size: 16px;
  color: #fff;
  margin-right: 100px;
}

.video-bt span:nth-child(2) {
  display: block;
  width: 19px;
  height: 6px;
  margin-right: 0;
  background: url("../images/btn_arr.png") no-repeat;
}

.contri {
  background-color: #e4e6e4;
  text-align: center;
}

.contri .sec-sub-title {
  margin-bottom: 30px;
  color: #000;
}

.contri .sec-sub-title::before {
  display: block;
  content: "";
  width: 1px;
  height: 50px;
  background: #111;
  margin: 0 auto 55px;
}

.contri .sec-sub-title {
  font-size: 17px;
  color: #666;
  font-weight: 300;
  line-height: 180%;
}

.contri .ws-icon {
  margin: 35px 0 60px;
}

.contri .sec-dec {
  color: #666;
}

.sw-contri {
  position: relative;
  width: 685px;
}

.sw-contri img {
  width: 685px;
  height: 100%;
}

.sw-contri-title {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  text-align: center;
  padding: 15px 80px;
  background: rgba(0, 0, 0, 0.7);
  font-size: 17px;
  color: #fff;
}

/* recruit */
.recruit {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 130px 0 100px;
  text-align: center;
}

.recruit-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/sec6_bg.jpg") no-repeat center;
  transform: scale(1.2);
  transition: all 3s ease-out;
}

.recruit-bg.active {
  transform: scale(1);
}

.recruit .sec-main-title {
  margin: 50px 0 30px;
  font-size: 102px;
  color: #fff;
  line-height: 100%;
}

.recruit .sec-dec {
  margin-bottom: 45px;
  font-size: 17px;
  color: #fff;
  font-weight: 300;
}

.join-bt {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 275px;
  height: 64px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 32px;
  transform-origin: center;
  transition: all 0.4s;
  background-color: transparent;
}

.join-bt::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  transform-origin: left;
  transform: scaleX(0);
  transition: all 0.6s;
}

.join-bt::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.1);
  transform-origin: right;
  transform: scaleX(0);
  transition: all 0.6s;
}

.join-bt:hover::before {
  transform: scaleX(1);
}

.join-bt:hover::after {
  transform: scaleX(1);
}

.join-bt span {
  font-size: 16px;
  color: #fff;
  margin-right: 100px;
}

.join-bt span:nth-child(2) {
  display: block;
  width: 19px;
  height: 6px;
  margin-right: 0;
  background: url("../images/btn_arr.png") no-repeat;
}

/* footer */
.footer {
  position: relative;
  display: block;
  background: #dcdcdc;
}

.f-top {
  display: flex;
  padding: 40px 5% 35px;
  border-bottom: 1px solid #b0b0b0;
}

.f-top .logo {
  position: relative;
  display: block;
  width: 220px;
  background: url("../images/foot_logo.png") no-repeat;
  background-size: 161px 21px;
  background-position: 0 5px;
  text-indent: -9999px;
}

.f-top .f-txt {
  position: relative;
  width: calc(100% - 220px);
}

.f-txt ul {
  display: flex;
  width: 280px;
}

.f-txt ul li {
  position: relative;
  padding-right: 12px;
  margin-right: 10px;
}

.f-txt ul li:first-child::before {
  display: block;
  content: "";
  width: 1px;
  height: 12px;
  background: #777;
  position: absolute;
  right: 0;
  top: 10px;
}

.f-txt ul li a {
  font-size: 17px;
  color: #444;
  line-height: 180%;
}

.f-txt address {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 180%;
}

.family-site {
  position: absolute;
  right: 5%;
  top: 40px;
  width: 250px;
}

.family-site > a {
  position: relative;
  display: flex;
  align-items: center;
  width: 250px;
  height: 56px;
  padding: 0 30px;
  border: 1px solid #bbb;
  border-radius: 30px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.6);
}

.family-site > a::after {
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  border-right: 2px solid #444;
  border-bottom: 2px solid #444;
  transform: rotate(45deg);
  position: absolute;
  right: 0;
  top: 50%;
  margin: -4px 30px 0 0;
}

.family-site > ul {
  display: none;
  position: absolute;
  left: 0;
  top: 57px;
  width: 250px;
  padding: 15px 0;
  margin-top: 5px;
  border: 1px solid #bbb;
  border-radius: 30px;
  background: #dcdcdc;
}

.family-site > ul > li {
  position: relative;
}

.family-site > ul > li > a {
  display: block;
  padding: 4px 30px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.copy {
  padding: 25px 0 25px calc(220px + 5%);
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
}
