@charset "utf-8";
@import url('font.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline-style: none; */
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: middle;
  border: 0;
}

a {
  color: #7d7d7d;
  text-decoration: none;
}

a:hover {
  color: #333;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  font-size: 14px;
  font-weight: 400;
  font-family: "Noto Sans KR", "돋움", dotum, sans-serif;
  color: #000;
  word-break: keep-all;
}

/* 공통클래스 */
.clearfix::after {
  content: '';
  position: relative;
  display: block;
  width: 100%;
  clear: both;
}

.inner {
  position: relative;
  display: block;
}

/* layout */
.wrap {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

/* header */
#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  transform: translateY(0);
  transition: transform 1s;
}

.header .inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  height: 80px;
  margin: 30px auto 0;
  border: 1px solid #fff;
  overflow: hidden;
}

.header h1 {
  position: relative;
  display: block;
  width: 236px;
  height: 78px;
}

.header .logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 148px;
  height: 19px;
  background: url('../images/logo1.png') no-repeat center;
  background-size: 148px 19px;
  text-indent: -9999px;
}

.header .logo.active {
  background: url('../images/logo3.png') no-repeat center;
}

.gnb {
  width: calc(100% - 259px - 236px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.main-menu {
  display: flex;
  align-items: center;
}

.main-menu>li {
  margin: 0 30px;
}

.main-menu>li>a {
  font-size: 17px;
  color: #fff;
}

.main-menu>li>a.active {
  color: #222;
}

.drop-menu {
  position: absolute;
  display: block;
  left: -1px;
  top: 100%;
  z-index: 1000;
  text-align: center;
  background: #fff;
  border-top: 1px solid #697995;
  width: calc(100% + 2px);
  padding: 45px 239px 45px 239px;
  box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
}

.drop-menu .depth1 {
  display: flex;
  width: 100%;
}

.depth1>li {
  width: calc(100% / 6);
  height: inherit;
  border-right: 1px solid #ddd;
}

.depth1>li:first-child {
  border-left: 1px solid #ddd;
}

.depth1>li>a {
  font-size: 19px;
  color: #222;
  font-weight: 500;
}

.depth2 {
  margin-top: 20px;
}

.depth2>li {
  margin-bottom: 5px;
}

.depth2>li>a {
  font-size: 17px;
  color: #555;
}

.quick-bt {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 259px;
  height: 100%;
}

.quick-bt ul {
  width: calc(100% - 78px);
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.quick-bt ul li {
  display: flex;
  align-items: center;
}

.quick-bt ul li:first-child {
  position: relative;
  padding-right: 12px;
  margin-right: 10px;
}

.quick-bt ul li:first-child::after {
  display: block;
  content: "";
  width: 1px;
  height: 10px;
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.quick-bt ul li a {
  position: relative;
  font-family: "Montserrat";
  font-size: 12px;
  color: rgba(255, 255, 255, 0.9);
}

.quick-bt ul li a.active {
  color: #222;
}

.site-map {
  display: block;
  border-left: 1px solid #fff;
}

.site-bt {
  position: relative;
  display: block;
  width: 78px;
  height: 78px;
  padding: 27px 25px;
}

.site-bt>span {
  display: block;
  width: 100%;
  height: 3px;
  margin-bottom: 7px;
  background-color: rgba(255, 255, 255, 0.9);
}

.site-bt>span.active {
  background-color: #222;
}

/* visual */
.visual {
  position: relative;
  display: block;
  height: 100vh;
  overflow: hidden;
}

.visual-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 120%;
  height: 136%;
  background: url('../images/visual1.jpg') no-repeat center;
  background-size: cover;
  z-index: 1;
}

.visual-text-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 90%;
  height: auto;
  line-height: 1.3;
  text-align: center;
  z-index: 10;
}

.visual-text-wrap::before {
  display: block;
  content: "";
  width: 1px;
  height: 60px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 auto 30px;
}

.visual-text-wrap::after {
  display: block;
  content: "";
  width: 1px;
  height: 60px;
  background: rgba(255, 255, 255, 0.5);
  margin: 40px auto 0;
}

.visual-text-wrap .sec-main-title {
  font-family: "Cormorant Garamond";
  font-size: 88px;
  color: #fff;
  margin-bottom: 10px;
}

.visual-text-wrap .sec-dec {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
}

/* sustainable */
.sustain {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding: 200px 7.5% 150px;
}

.sustain-bg {
  position: absolute;
  right: 0;
  top: 190px;
  display: block;
  width: 682px;
  height: 367px;
  background: url('../images/section1_bg1.png') no-repeat;
  background-size: cover;
}

.sustain .sec-main-title {
  font-family: "Cormorant Garamond";
  font-size: 102px;
  color: #6f917b;
}

.sustain .sec-dec {
  padding: 0 0 0 70px;
  font-size: 17px;
  color: #666;
  line-height: 180%;
}

.sustain .sec-dec span {
  display: block;
  padding: 50px 0 25px;
  font-family: "Montserrat";
  font-size: 21px;
  color: #222;
  font-weight: 500;
}

/* product */
.product .sec-sub-title {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  color: #000;
  text-align: center;
}

.sw-product {
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

.product-wrapper {
  display: block;
  width: 100%;
}

.goods-t {
  position: relative;
  border: 1px solid #000;
  width: 100%;
  height: 100%;
}

.goods-t-left {
  float: left;
  width: 50%;
  background-color: red;
}

.goods-t-left>div {
  height: 910px;
}

.goods-right {
  float: right;
  width: 50%;
  height: 910px;
  display: flex;
  flex-direction: column;
}

.goods-t-right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: blue;
}

.goods-t-right>div {
  width: calc((100% / 2) - 10%);
  height: 580px;
  background-color: green;
}

.product-content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 65px;
}

.product-title {
  font-family: "Cormorant Garamond";
  font-size: 42px;
  color: #222;
}

.product-dec {
  margin-top: 15px;
  font-size: 17px;
  color: #666;
  line-height: 180%;
}

.goods-b {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 55px 0 250px;
}

.goods-b>div {
  width: calc((100% / 3) - 4%);
  height: 552px;
  background-color: blueviolet;
}

/* innovative */
.innovative {
  position: relative;
  display: block;
  padding-bottom: 250px;
}

.innovative .bg-pic {
  display: block;
  position: absolute;
  right: 0;
  top: 32%;
  width: 57%;
  height: 910px;
  background: url('../images/sec2_bg.jpg') no-repeat right;
  transition: all 1s;
  z-index: 0;

}

.inno-text-wrap {
  padding: 130px 7.5% 230px;
  background: #879a82;
}

.sec-sub-title {
  position: relative;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  z-index: 9;
}

.sec-main-title {
  position: relative;
  font-family: "Cormorant Garamond";
  font-size: 230px;
  color: #fff;
  line-height: 85%;
  z-index: 9;
}

.sec-dec {
  margin-top: 120px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  line-height: 180%;
}

.sec-dec>span {
  display: block;
  margin: 0 0 25px;
  font-size: 19px;
  color: #fff;
}

/* merit */
.merit {
  display: block;
  width: 100vw;
  padding: 180px 0;
}

.merit .sec-sub-title {
  color: #000;
}

.merit>div {
  margin-top: 70px;
}

.merit>div>ul {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height:100%;
}
.merit>div>ul::before {
  display: block;
  content: "";
  width: 0%;
  height: 1px;
  background: #7f7f7a;
  position: absolute;
  left: 0;
  top: 0;
  transition:width 0.3s;
}
.merit>div>ul:hover::before {
  width:100%;
}
.merit>div>ul>li {
  position: relative;
  margin: 0 3.5%;
  text-align: center;
  padding-top:15px;
}
.merit>div>ul>li::before {
  display: block;
  content: "";
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  background: #333;
  border: 6px solid #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: -9px;
  margin-left: -9px;
}
.merit>div>ul>li>span {
  display: block;
}

.merit-icon {
  width: 146px;
  height: 146px;
  margin: 80px auto 55px;
}

.merit-title {
  margin-bottom: 20px;
  font-size: 23px;
  color: #222;
  font-weight: 500;
}

.merit-dec {
  font-size: 17px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 300;
  line-height: 180%;
}

/* news */
.news {
  overflow: hidden;
  width: 100%;
  padding: 140px 0 160px;
  background: url('../images/sec4_bg.jpg') no-repeat center top;
  background-attachment: fixed;
  text-align: center;
}

.news .sec-main-title {
  margin: 45px 0 70px;
  font-size: 102px;
  line-height: 100%;
}
.sw-news {
  margin: 0 0 0 7%;
}
.sw-news .swiper-slide {
  width:520px;
}
.sw-news .swiper-slide > a {
  position: relative;
  display: block;
  width: 100%;
  height: 380px;
  padding: 50px 40px;
  background: #fff;
  text-align: left;
  word-break: keep-all;
}

.news-cate {
  font-family: "Montserrat";
  font-size: 16px;
  color: #222;
  font-weight: 500;
}

.news-title {
  margin: 20px 0;
  font-size: 24px;
  color: #222;
  font-weight: 500;
}

.news-dec {
  font-size: 17px;
  color: #666;
  font-weight: 300;
  line-height: 180%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
}
.news-bottom {
  position: absolute;
  left: 40px;
  bottom: 50px;
  width: calc(100% - 80px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news-bt {
  position: relative;
  width: 56px;
  height: 56px;
  border: 1px solid #777;
  border-radius: 50%;
  background-color: #fff;
}
.news-bt>span {
  width: 6px;
  height: 6px;
  border-right: 1px solid #777;
  border-bottom: 1px solid #777;
  transform: rotate(-45deg);
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -3px 0 0 -4px;
}

.news-date {
  font-size: 16px;
  color: #666;
  font-weight: 300;
}


/* ws-active */
.ws-active {
  display: flex;
}
.ws-active>div {
  width:50%;
  padding:7%;
}
.video-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 720px;
  background: url('../images/sec5_bg1.jpg') no-repeat center;
  text-align: center;
}
.ws-video .sec-sub-title{
  margin-top:35px;
  margin-bottom:30px;
}
.ws-active .sec-dec {
  padding:0 35px;
  padding-bottom:35px;
  font-size: 17px;
  color: #fff;
  font-weight: 300;
  line-height: 180%;
  margin-top:0;
}
.ws-icon {
  display: block;
  margin-bottom:60px;
}
.video-bt {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 275px;
  height: 64px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 32px;
  transform-origin: center;
  transition: all 0.4s;
  background-color: transparent;
}
.video-bt span {
  font-size: 16px;
  color: #fff;
  margin-right:100px;
}
.video-bt span:nth-child(2) {
  display: block;
  width: 19px;
  height: 6px;
  margin-right:0;
  background: url('../images/btn_arr.png') no-repeat;
}
.contri {
  background-color: #e4e6e4;
  text-align: center;
}
.contri .sec-sub-title {
  margin-bottom:30px;
  color:#000;
}
.contri .sec-sub-title::before {
  display: block;
  content: "";
  width: 1px;
  height: 50px;
  background: #111;
  margin: 0 auto 55px;
}
.contri .sec-sub-title {
  font-size: 17px;
  color: #666;
  font-weight: 300;
  line-height: 180%;
}
.contri .ws-icon {
  margin:35px 0 60px;
}
.contri .sec-dec {
  color:#666;
}


/* recruit */
.recruit {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 130px 0 100px;
  text-align: center; 
}
.recruit-bg {
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background: url('../images/sec6_bg.jpg') no-repeat center;
  transform: scale(1.2);
  transition: all 3s ease-out;
}
.recruit-bg:hover {
  transform:scale(1)
}
.recruit .sec-main-title {
  margin: 50px 0 30px;
  font-size: 102px;
  color: #fff;
  line-height: 100%;
}
.recruit .sec-dec {
  margin-bottom: 45px;
  font-size: 17px;
  color: #fff;
  font-weight: 300;
}
.join-bt {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 275px;
  height: 64px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 32px;
  transform-origin: center;
  transition: all 0.4s;
  background-color: transparent;
}
.join-bt span {
  font-size: 16px;
  color: #fff;
  margin-right:100px;
}
.join-bt span:nth-child(2) {
  display: block;
  width: 19px;
  height: 6px;
  margin-right:0;
  background: url('../images/btn_arr.png') no-repeat;
}


/* footer */
.footer {
  position: relative;
  display: block;
}
.f-top {
  display: flex;
  padding: 40px 5% 35px;
  border-bottom: 1px solid #b0b0b0;
}
.f-top .logo {
  position: relative;
  display: block;
  width: 220px;
  background: url('../images/foot_logo.png') no-repeat;
  background-size: 161px 21px;
  background-position:0 5px;
  text-indent: -9999px;
}
.f-top .f-txt {
  position: relative;
  width:calc(100% - 220px);
}
.f-txt ul {
  display: flex;
  width:280px;
}
.f-txt ul li {
  position: relative;
  padding-right:12px;
  margin-right:10px;
}
.f-txt ul  li:first-child::before {
  display: block;
  content: "";
  width: 1px;
  height: 12px;
  background: #777;
  position: absolute;
  right: 0;
  top: 10px;
}
.f-txt ul li a {
  font-size: 17px;
  color: #444;
  line-height: 180%;
}
.f-txt address {
  font-size: 16px;
  color: rgba(0,0,0,0.8);
  line-height: 180%;
}
.f-txt .family-site {
  position: absolute;
  right: 0;
  top: 0;
  width:250px;
  height:100%;
  border:1px solid #000;
}
.family-site > a {
  position: relative;
  display: flex;
  align-items: center;
  width: 250px;
  height: 56px;
  padding: 0 30px;
  border: 1px solid #bbb;
  border-radius: 30px;
  font-size: 17px;
  color: rgba(0,0,0,0.6);
}
.family-site > a::after {
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  border-right: 2px solid #444;
  border-bottom: 2px solid #444;
  transform: rotate(45deg);
  position: absolute;
  right: 0;
  top: 50%;
  margin: -4px 30px 0 0;
}
.family-site > ul {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  width: 250px;
  padding: 15px 0;
  margin-top: 5px;
  border: 1px solid #bbb;
  border-radius: 30px;
  background: #dcdcdc;
}